/*** IMPORTS ***/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
}
a {
  text-decoration: none;
  color: #FFF;
}
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h2,
h3,
h4 {
  margin: 0;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
}
h3 {
  font-size: 26px;
}
form input {
  width: 100%;
  height: 40px;
  padding: 5px;
  font-family: 'Lato', 'Raleway', sans-serif;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}
form input[type="text"]:focus,
form input[type="tel"]:focus {
  border-color: #333;
  outline: none;
}
.button {
  display: block;
  max-width: 260px;
  padding: 20px;
  margin: 20px auto;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  color: #FFF;
  background-color: #444;
  text-align: center;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border: 2px solid #FFF;
}
.button.main-action {
  background-color: #bf573e;
}
.button.main-action:hover {
  background-color: #e16b4f;
  /*.box-shadow(0 5px 0 0 darken(@main-color,5%));*/
}
.button:hover {
  background-color: #555;
  /*.box-shadow(0 5px 0 0 #444);*/
}
.mejs-container {
  display: none;
}
.content {
  max-width: 720px;
  padding: 30px;
  margin: 0 auto;
  background: #0099AB;
  /* url(../img/bg-blue.jpg) top center;*/
}
.active {
  display: block;
}
/* STATES */
.panel,
#song-loading-overlay,
#container-loading-overlay {
  display: none;
}
body.loading-song #song-loading-overlay {
  display: block;
}
body.loading-container #container-loading-overlay {
  display: block;
}
body[data-container="homepage"] #homepage {
  display: block;
}
body[data-container="homepage"].start #homepage .start-multi-private {
  display: block;
}
body[data-container="homepage"].invite #homepage .enter-multi-private {
  display: block;
}
body[data-container="room"] #room {
  display: block;
}
body[data-container="room"].alone #room header .room {
  display: none;
}
body[data-container="room"].alone #room header .players li {
  float: none;
  width: 100%;
}
body[data-container="room"].alone #room header .players li:not(.master) {
  display: none;
}
body[data-container="waitingroom"] #waiting-room {
  display: block;
}
body[data-container="waitingroom"].playing #share {
  display: none;
}
body[data-container="waitingroom"].master #share {
  display: block;
}
body[data-container="gameover"] #gameover {
  display: block;
}
#homepage header img {
  display: block;
  width: 100%;
  max-width: 960px;
  height: auto;
  margin: 0 auto;
}
#homepage .multi {
  display: none;
}
#homepage section {
  margin-bottom: 50px;
}
#homepage section.how-to img {
  display: block;
  width: 100%;
  max-width: 520px;
  margin: 20px auto;
}
#homepage section.how-to .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
#homepage section.how-to .video-wrapper .twerker {
  display: block;
  z-index: 999999;
}
#homepage section.how-to .video-wrapper .twerker img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  z-index: 999999;
}
#homepage section.how-to .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#homepage section.play .column {
  float: left;
  width: 40%;
  margin: 0 5%;
  text-align: center;
}
#homepage ul.rooms {
  margin: 10px 0;
}
#homepage ul.rooms p {
  margin: 0;
  line-height: normal;
}
#homepage ul.rooms li.room {
  float: left;
  width: 50%;
}
#homepage ul.rooms li.room a {
  display: block;
  padding: 5px 5px 5px 10px;
  background-color: rgba(255, 255, 255, 0.15);
}
#homepage ul.rooms li.room a .room-name {
  float: left;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 900;
}
#homepage ul.rooms li.room a ul.players {
  float: right;
}
#homepage ul.rooms li.room a ul.players li.player {
  float: left;
  width: 25%;
}
#homepage ul.rooms li.room a ul.players li.player .avatar {
  width: 50px;
  height: 50px;
  margin: 0 0 0 4px;
  background-color: rgba(255, 255, 255, 0.4);
}
#homepage ul.rooms li.room a ul.players li.player .avatar img {
  width: 100%;
}
#homepage ul.rooms li.room a ul.players li.player .player-name {
  display: none;
}
#homepage ul.rooms li.room a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#room {
  padding: 0;
}
#room header {
  max-width: 720px;
  padding: 0 0 0 360px;
  margin: 0 auto;
  background: url(../img/header.png) no-repeat 0 0;
  background-size: contain;
  color: #666;
}
#room header .room {
  float: left;
  font-size: 20px;
  line-height: 120px;
}
#room header .players {
  float: right;
}
#room header .players li {
  float: left;
  width: 25%;
}
#room header .players li .player {
  display: block;
  margin-left: 5px;
  text-align: center;
  color: #666;
}
#room header .players li .player .total-points {
  font-size: 20px;
  font-weight: 900;
}
#room header .players li .player .thumb {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1) url(../img/bg_thumb.png) no-repeat 0 0;
  background-size: 60px auto;
}
#room header .players li .player .thumb img {
  width: 100%;
}
#room header .players li .player .thumb .score {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(77, 77, 77, 0.7);
  font-size: 26px;
  font-weight: 900;
  line-height: 60px;
  color: #FFF;
  display: none;
}
#room header .players li .player .thumb .score.active {
  display: block;
}
#room header .players li .player .thumb .score.positive {
  background: rgba(163, 179, 0, 0.7);
}
#room header .players li .player .thumb .score.positive:before {
  content: "+";
}
#room header .players li .player .thumb .score.negative {
  background: rgba(226, 74, 74, 0.7);
}
#room header .players li .player .name {
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 20px;
}
#room .song-scrubber {
  position: relative;
  height: 44px;
  margin-bottom: 10px;
  background: #FFF;
  border: 2px solid #FFF;
  overflow: hidden;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
}
#room .song-scrubber .bar,
#room .song-scrubber .timer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#room .song-scrubber .timer {
  left: 50%;
  width: 50px;
  margin-left: -25px;
}
#room .song-scrubber .remaining-time {
  background: #bf573e;
}
#room .song-scrubber .timer {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #333;
  color: rgba(0, 0, 0, 0.3);
}
#room .question {
  padding: 10px;
}
#room .question .question_number {
  font-size: 12px;
}
#room .question .query {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
#room .question .answers {
  padding: 5px 0;
}
#room .question .answers li {
  margin: 0 0 10px 0;
  background: #FFF;
}
#room .question .answers li a {
  display: block;
  position: relative;
  padding: 5px 10px 5px 15px;
  font-size: 18px;
  border: 2px solid #FFF;
  color: #555;
}
#room .question .answers li a:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  content: "";
}
#room .question .answers li a.selected {
  color: #FFF;
}
#room .question .answers li a.selected:before {
  display: none;
}
#room .question .answers li a.correct {
  background: #99b758;
  border-color: #99b758;
}
#room .question .answers li a.wrong {
  background: #df5656;
  border-color: #df5656;
}
#room .question .answers li:nth-child(1) a:before {
  background: #df5656;
}
#room .question .answers li:nth-child(2) a:before {
  background: #99b758;
}
#room .question .answers li:nth-child(3) a:before {
  background: #ffb901;
}
#room .question .answers li:nth-child(4) a:before {
  background: #46a1cc;
}
#room .game {
  position: relative;
}
#gameover .final-score {
  list-style: none;
  padding: 0;
}
#gameover .final-score li {
  float: left;
  width: 23%;
  margin: 0 1%;
  text-align: center;
  /*
			&:nth-child(1) a .game-ranking {//background-color:@gold-color; //gold
				i {color:@gold-color;}
			}
			&:nth-child(2) a .game-ranking {//background-color:@silver-color; //silver
				i {color:@silver-color;}
			}
			&:nth-child(3) a .game-ranking {//background-color:@bronze-color; //bronze
				i {color:@bronze-color;}
			}
			*/

}
#gameover .final-score li a {
  display: block;
}
#gameover .final-score li a .game-ranking {
  padding: 10px;
}
#gameover .final-score li a .game-ranking .game-rank {
  position: relative;
}
#gameover .final-score li a .game-ranking .game-rank span {
  width: 20px;
  height: 20px;
  margin: 0 0 0 -10px;
  line-height: 100px;
  font-size: 28px;
  font-weight: bold;
}
#gameover .final-score li a .thumb img {
  width: 100%;
}
#gameover .final-score li a .overall-ranking {
  padding: 10px;
}
#container-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999999;
}
#container-loading-overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2s;
}
#song-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0099AB;
  z-index: 999999;
}
#song-loading-overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2s;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
  }
}
/*
* {-webkit-font-smoothing:antialiased;}
body {position:relative;font-family:'Lato','Raleway',sans-serif;font-size:26px;font-weight:300;color:#333;}
p,ul {padding:0;margin:0;}
ul {list-style:none;}
a {text-decoration:none;color:#333;}
.active {display:block!important;}

.loader {position:fixed;top:50%;left:50%;width:50px;height:50px;margin:-25px 0 0 -25px;background:transparent url(../img/loader.gif) no-repeat 0 0;background-size:40px 40px;display:none;}


.buttons {padding:10px 0;text-align:center;}
.buttons li {display:inline-block;margin:0 10px 0 0}

.button {display:block;padding:10px;background:#333;font-size:16px;font-weight:400;text-transform:uppercase;text-align:center;color:#FFF;border-radius:5px;}
.button.inactive {background:#CCC!important;color:#AAA!important;}

.no-touch .sms {display:none;}
*/
/*************/
/*** START ***/
/*************/
/*
.start_logo {display:block;width:320px;height:70px;padding:10px 0 0 0;margin:0 auto;background:transparent url(../img/start_logo.png) no-repeat 0 0;background-size:320px auto;}

.start {background:#FFF;display:none;}
.start p {padding:0 20px;}
.start .room_id {margin:-25px 0 0 0;font-size:18px;font-weight:900;text-transform:uppercase;text-align:center;}

form {position:relative;height:40px;padding:0 0 10px 0;margin:10px 20px 0 20px;font-size:20px;}
form input[type="text"],
form input[type="tel"] {position:absolute;top:0;left:0;right:50px;height:34px;padding:2px 5px;font-family:'Lato','Raleway',sans-serif;border:1px solid #333;-webkit-appearance:none;}
form input[type="text"]:focus,
form input[type="tel"]:focus {border-color:#53ACD6;outline:none;}
form input[type="submit"] {position:absolute;top:0;right:0;width:40px;height:40px;background:#53ACD6 url(../img/go.png) no-repeat 0 0;background-size:40px auto;text-indent:-999999em;border:none;color:#FFF;}

form.i_know_the_room {height:90px;}
form.i_know_the_room input[type="tel"],
form.i_know_the_room input[type="submit"] {top:50px;}

.start .fuck_the_invitation {padding:10px 0;margin:10px 0 0 0;background:#53ACD6;}
.start .fuck_the_invitation form input[type="submit"] {background-color:#333;}
*/
/***********/
/*** APP ***/
/***********/
/*
.app {min-height:600px;background:#FFF;display:none;}

.app > header {position:relative;height:50px;background:#53ACD6;}
.app > header .logo {display:block;width:220px;height:50px;margin:0 auto;background:transparent url(../img/logo.png) no-repeat 0 -6px;background-size:220px auto;}
.app > header .room {position:absolute;top:30px;left:0;width:100%;font-size:12px;font-weight:900;text-align:center;text-transform:uppercase;color:#FFF;}

.players {padding:0 10px;background:#333;}
.players li {float:left;width:25%;}
.players li a {display:block;padding:5px;text-align:center;color:#FFF;}
.players li a .total_points {font-size:20px;font-weight:900;}
.players li a .thumb {position:relative;width:60px;height:60px;margin:0 auto;background:rgba(255,255,255,0.1) url(../img/bg_thumb.png) no-repeat 0 0;background-size:60px auto;}
.players li a .thumb img {width:100%;}
.players li a .thumb .score {position:absolute;top:0;left:0;width:100%;font-size:26px;font-weight:900;line-height:60px;color:#FFF;display:none;}
.players li a .thumb .score.positive {background:rgba(163,179,0,0.7);}
.players li a .thumb .score.positive:before {content:"+";}
.players li a .thumb .score.negative {background:rgba(226,74,74,0.7);}
.players li a .name {font-size:10px;font-weight:900;text-transform:uppercase;line-height:20px;}
.players li a.no_player .name {position:absolute;top:0;left:0;width:100%;padding:10px 0 0 0;font-size:14px;color:rgba(255,255,255,0.5);display:none;}

.start_game {padding:10px;}
.start_game .go {margin:10px auto;background:#53ACD6;}

.stand_by {padding:10px;}

.question {padding:10px;}
.question .question_number {font-size:12px;font-weight:900;opacity:0.5;}
.question .query {font-size:22px;font-weight:700;text-transform:uppercase;}
.question .answers {padding:5px 0;}
.question .answers li {margin:0 0 10px 0;}
.question .answers li a {display:block;position:relative;padding:5px 10px 5px 15px;font-size:18px;font-weight:400;border:1px solid #BBB;}
.question .answers.has_answer li a:not(.selected) {opacity:0.3;}
.question .answers li a:before {position:absolute;top:0;left:0;width:10px;height:100%;content:"";}
.question .answers li:nth-child(1) a:before {background:#DF5656;}
.question .answers li:nth-child(2) a:before {background:#99B758;}
.question .answers li:nth-child(3) a:before {background:#FFB901;}
.question .answers li:nth-child(4) a:before {background:#46A1CC;}
.question .answers li a.selected {color:#FFF;}
.question .answers li a.selected:before {display:none;}
.question .answers li a.correct {background:#5F9D2D;border-color:#5F9D2D;}
.question .answers li a.wrong {background:#CA2E2E;border-color:#CA2E2E;}



.overlay {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);display:none;}
.modal {position:absolute;top:50%;left:50%;width:220px;height:200px;padding:10px 50px 10px 10px;margin:-110px 0 0 -140px;background:#FFF;display:none;}
.modal .close {display:block;position:absolute;top:10px;right:10px;width:30px;height:30px;background:#333;}
.modal input[type="text"] {width:94%;height:34px;padding:2px 5px;margin:10px 0;font-family:'Lato','Raleway',sans-serif;border:1px solid #333;-webkit-appearance:none;}

*/
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
@media screen and (min-width: 650px) {
  
}
/* >= XL */
@media screen and (min-width: 1680px) {
  
}
/* >= L */
@media screen and (min-width: 960px) {
  
}
/* < L */
@media screen and (max-width: 960px) {
  
}
/* MEDIUM SCREENS */
@media screen and (min-width: 650px) and (max-width: 959px) {
  
}
/* SMALL SCREENS */
@media screen and (max-width: 649px) {
  .content {
    padding: 10px;
  }
  #homepage section {
    margin-bottom: 50px;
  }
  #homepage section.play .column {
    float: none;
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
